<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>littlepic</key>
		<string>sheshanlittlepic</string>
		<key>pic</key>
		<string>sheshanpic</string>
		<key>title</key>
		<string>佘山一日游</string>
        <key>description</key>
		<string>佘山圣母大殿是与法国罗德圣母大殿齐名的天主教堂，也称做远东圣母大殿。该堂始建于1871年,由法国传教士建造的。1935年才最终落成。它集多种建筑风格于一体，采用无木无钉无钢无梁的四无结构，堪称不对称的典范。从20世纪40年代起即为世界闻名的天主教圣地，也是国内天主教最主要的朝圣地...</string>
		<key>content</key>
		<string>[title]佘山一日游[/title]
[img]sheshanpic.png[/img]
佘山圣母大殿是与法国罗德圣母大殿齐名的天主教堂，也称做远东圣母大殿。该堂始建于1871年,由法国传教士建造的。1935年才最终落成。它集多种建筑风格于一体，采用无木无钉无钢无梁的四无结构，堪称不对称的典范。从20世纪40年代起即为世界闻名的天主教圣地，也是国内天主教最主要的朝圣地。
佘山天文台，建于清光绪二十五年(公元1899年)，为法国传教士所立，是我国最早的现代意义上的天文台，也是我国天文研究中心之一。其天文望远镜是我国最早的一台。</string>
	</dict>
	<key>2</key>
	<dict>
		<key>littlepic</key>
		<string>taiwushilittlepic</string>
		<key>pic</key>
		<string>taiwushipic</string>
		<key>title</key>
		<string>泰晤士小镇的风景</string>
        <key>description</key>
		<string>泰晤士小镇真的很漂亮，无论是街衢、楼房，还是水岸、园林，以及建筑小品，都是引进英国泰晤士风格，是以英国伟大的戏剧家莎士比亚的故乡为原型精心打造的。泰晤士小镇中心那幢尖顶哥特式大教堂，就彰显着欧洲16世纪的古典建筑格调。小镇里那些充满异域风情的小楼，最高不超过五层，保留了维多利亚精美建筑的那份奢华...</string>
		<key>content</key>
		<string>[title]泰晤士小镇的风景[/title]
[img]taiwushipic.png[/img]
泰晤士小镇真的很漂亮，无论是街衢、楼房，还是水岸、园林，以及建筑小品，都是引进英国泰晤士风格，是以英国伟大的戏剧家莎士比亚的故乡为原型精心打造的。泰晤士小镇中心那幢尖顶哥特式大教堂，就彰显着欧洲16世纪的古典建筑格调。
小镇里那些充满异域风情的小楼，最高不超过五层，保留了维多利亚精美建筑的那份奢华，它刻意繁复又天然去雕饰。这和大上海到处林立的摩天大楼比起来，还真是多了一份优雅和精致。您瞧，那楼房奇特的尖拱、廊柱、红砖墙无不阐释着大不列颠当年繁盛一时的富丽堂皇。一些乔治亚风格的别墅看上去好像有些墨守成规，过于讲究门面，但对称和平衡始终是欧洲建筑恒古不变的特色。居民小区的命名也都带有英国的地名色彩，像赛杰苑、立诗顿、蓝色剑桥、浪琴水岸、诺丁山花园、保利西子湾……洋味儿十足。
特别是散落在小镇四处的铜质雕像，那可都是大家手笔，每尊雕像都栩栩如生，形象逼真得如同真人一样。这其中有莎士比亚、雪莱、南丁格尔、牛顿、邱吉尔、罗斯福……这些珍贵的艺术作品为小镇增添了浓浓的文化气息。这里的建筑特征及文化元素体现了泰晤士小镇的国际性及时髦的旅游文化，现已被命名为“英伦印象”，成为松江著名的十二景之一</string>
	</dict>
</dict>
</plist>
