<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3</key>
	<dict>
		<key>imageName</key>
		<string>zpms</string>
		<key>name</key>
		<string>招牌美食</string>
		<key>pics</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>zpms1</string>
				<key>description</key>
				<string>招牌美食1</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>zpms2</string>
				<key>description</key>
				<string>招牌美食2</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>zpms1</string>
				<key>description</key>
				<string>招牌美食3</string>
				<key>note</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>imageName</key>
		<string>jdzb</string>
		<key>name</key>
		<string>经典坐标</string>
		<key>pics</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>jdzb1</string>
				<key>description</key>
				<string>&quot;方塔&quot;，本名兴圣教寺塔。兴圣教寺始建于五代后汉乾描二年(公元949年)，距今约900年。</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sheshan1</string>
				<key>description</key>
				<string>这是第二幅/佘山</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>jdzb1</string>
				<key>description</key>
				<string>这是第三副</string>
				<key>note</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>imageName</key>
		<string>rwfq</string>
		<key>name</key>
		<string>人文风情</string>
		<key>pics</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>chenghuangmiao</string>
				<key>description</key>
				<string>人文风情1城隍庙</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>rwfq2</string>
				<key>description</key>
				<string>人文风情2</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>chenghuangmiao</string>
				<key>description</key>
				<string>人文风情3</string>
				<key>note</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>imageName</key>
		<string>sjts</string>
		<key>name</key>
		<string>松江特色</string>
		<key>pics</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>htlj</string>
				<key>description</key>
				<string>华亭老街是松江历史、经济、文化、人文、商业资源较为集中的地区。这里有市级文物保护单位—松江清真寺、西林寺；区级文物保护单位—瞿氏宅、王冶山宅、袁宅。街内建有申越广场、商业休闲广场、民俗风情广场、历史文化广场等多个公益休闲点。现为一个开放型、多元化的共享环境。</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sheshan1</string>
				<key>description</key>
				<string>松江特色2</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>jdzb1</string>
				<key>description</key>
				<string>松江特色3</string>
				<key>note</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>htlj</string>
				<key>description</key>
				<string>松江特色4</string>
				<key>note</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
