<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>detailFileName</key>
		<string>ViewSpots</string>
		<key>pushIdentifier</key>
		<string>tourPush</string>
		<key>name</key>
		<string>景点介绍</string>
		<key>imageName</key>
		<string>jingdianjieshao</string>
		<key>tag</key>
		<string>1</string>
		<key>isHasSearchBar</key>
		<true/>
	</dict>
	<key>2</key>
	<dict>
		<key>detailFileName</key>
		<string>Hotels</string>
		<key>pushIdentifier</key>
		<string>tourPush</string>
		<key>name</key>
		<string>酒店推荐</string>
		<key>imageName</key>
		<string>jiudiantuijian</string>
		<key>tag</key>
		<string>2</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>3</key>
	<dict>
		<key>detailFileName</key>
		<string>Restaurants</string>
		<key>pushIdentifier</key>
		<string>tourPush</string>
		<key>name</key>
		<string>餐饮</string>
		<key>imageName</key>
		<string>canyin</string>
		<key>tag</key>
		<string>3</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>4</key>
	<dict>
		<key>detailFileName</key>
		<string>Shopping</string>
		<key>pushIdentifier</key>
		<string>tourPush</string>
		<key>name</key>
		<string>购物</string>
		<key>imageName</key>
		<string>gouwu</string>
		<key>tag</key>
		<string>4</string>
		<key>isHasSearchBar</key>
		<true/>
	</dict>
	<key>5</key>
	<dict>
		<key>detailFileName</key>
		<string>Entertainment</string>
		<key>pushIdentifier</key>
		<string>tourPush</string>
		<key>name</key>
		<string>娱乐</string>
		<key>imageName</key>
		<string>yule</string>
		<key>tag</key>
		<string>5</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>6</key>
	<dict>
		<key>detailFileName</key>
		<string>Jiaotong</string>
		<key>pushIdentifier</key>
		<string>gotoJiaotong</string>
		<key>name</key>
		<string>交通</string>
		<key>imageName</key>
		<string>jiaotong</string>
		<key>tag</key>
		<string>6</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>0</key>
	<dict>
		<key>detailFileName</key>
		<string></string>
		<key>pushIdentifier</key>
		<string>cityDetail</string>
		<key>name</key>
		<string>城市概况</string>
		<key>imageName</key>
		<string>chengshigaikuang</string>
		<key>tag</key>
		<string>0</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>8</key>
	<dict>
		<key>detailFileName</key>
		<string></string>
		<key>pushIdentifier</key>
		<string>tourWeather</string>
		<key>name</key>
		<string>天气</string>
		<key>imageName</key>
		<string>tianqi</string>
		<key>tag</key>
		<string>8</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>9</key>
	<dict>
		<key>detailFileName</key>
		<string></string>
		<key>pushIdentifier</key>
		<string>favouritePushIdentifier</string>
		<key>name</key>
		<string>收藏夹</string>
		<key>imageName</key>
		<string>shoucangjia</string>
		<key>tag</key>
		<string>9</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
	<key>90</key>
	<dict>
		<key>detailFileName</key>
		<string>NewsList</string>
		<key>pushIdentifier</key>
		<string>informationPushIdentifier</string>
		<key>name</key>
		<string>最新资讯</string>
		<key>imageName</key>
		<string>zixun</string>
		<key>tag</key>
		<string>90</string>
		<key>isHasSearchBar</key>
		<false/>
	</dict>
</dict>
</plist>
