<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key>title</key>
		<string>逸东轩中餐厅风生水起话鱼生</string>
        <key>description</key>
		<string>发布时间：2013-2-14  点击数：10次</string>
		<key>content</key>
		<string>[title]逸东轩中餐厅风生水起话鱼生[/title]
[img]yidongxuan.jpg[/img]
    “风生水起”，或称为“鱼生”，是马来西亚及新加坡过农历新年时（正月初一至正月十五）的特色贺年食品，代替七菜羹或七菜粥，七彩缤纷的鱼生有七彩灿烂的好意头，而七彩鱼生这个名称，又有了“风生水起”及“越捞越旺”的意头。
    来自香港的中餐大厨精心演绎正宗的东南亚新年传统美食 – 鱼生，为您带来不一样的美食体验，送上新年的祝福。来逸东轩中餐厅，与家人共度一个别具一格的新春佳节！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>方塔园春色正伴梅花来</string>
        <key>description</key>
		<string>发布时间：2013-2-17  点击数：47次</string>
		<key>content</key>
		<string>[title]方塔园春色正伴梅花来[/title]
    春节长期期间，方塔园绚丽的傲骨霜梅迎风绽放，寒风中暗香浮动的美景，吸引了众多游客前来探春赏梅。梅花正情窦初开，蜡梅也正处于盛花期，两梅共赏正当时。虽然都有一个“梅”字，但是梅花与蜡梅是两种完全没有关系的植物，梅花属蔷薇科，腊梅属蜡梅科。梅花喜温暖和充足的光照，如果温度暖和，还有一个礼拜正是争相绽放的日子，本月中旬后进入最佳赏花期。梅花的花期为一个月，若开花时遇低温，则花期可延长。
    方塔园共植有60余株梅花，主要集中在塔墙东面河畔边上，约有40余株，其余散种在陈公祠堂前、宋桥边、山坡上。最早的梅花树开园后就种植了，已有三十年。我园的梅花品种丰富，约有十几种，从苏州香雪海移植来，主要有绿萼梅、红梅、朱砂梅、白梅、美人梅等，都有很强的观赏性。梅花凌寒开放，舒展冷艳的姿色，倾吐清雅的馨香，令人怡情陶醉。当成片的梅花缤纷怒放，有的艳如朝霞，有的白似瑞雪，有的绿如碧玉，煞是好看。
    芳草春回依旧绿,梅花时到自然香。在每年的二、三月份是踏春探梅的好时节，带上您的家人和孩子来方塔园感受春天的魅力吧！
[img]fangtachunse.jpg[/img]</string>
	</dict>
    <dict>
		<key>title</key>
		<string>方塔园“金蛇狂舞”迎春元宵节主题活动</string>
        <key>description</key>
		<string>发布时间：2013-2-19  点击数：182次</string>
		<key>content</key>
		<string>[title]方塔园“金蛇狂舞”迎春元宵节主题活动[/title]
    元宵节是我国传统的重要节日之一，又称“上元节”、“灯节”。民间正月十五闹元宵已有悠久的历史，它伴随人们迎来春天，是把节日习俗体现得最为彻底和典型的传统节日。为传承民间民俗传统文化，营造浓烈喜庆祥和的节日气氛，方塔园特举办元宵节系列活动，通过展示、观赏、品尝、猜谜等不同形式的民俗活动，使广大游客对元宵节的传统文化和民俗习惯有一个基本的了解，通过自身的参与和表现，体验民俗风情，感受节日氛围。
一、活动主题
    蛇年新春同欢乐
    癸巳元宵共祈福
二、具体活动安排：
（一）舞狮舞龙活动
1、活动时间：2月24日（正月十五）
上午9:30-10:00，11:00-11:30
下午1:00-1:30，2:30-3:00
2、活动地点：北大门广场-照壁舞台
3、活动内容：舞狮和舞龙依次从北大门广场，经北大门沿路舞至公园天妃宫广场，并于天妃宫广场进行点睛仪式。（上下午各两场）志愿者腰鼓队表演
时间：上午9:00-9:30
地点：北大门广场
要求：上午9:00到北大门集合整队后表演，至9:30随舞狮队一路敲进园，到照壁舞台后，分站于舞台两侧。
(二)太平鼓演示
太平鼓，中国东北地区曲种。是京郊门头沟地区老百姓打发农历腊月与正月农闲时间的一种自娱自乐的民间舞蹈，同时藉此祈愿“求太平、追太平”。
1、演示时间:上午9:30-10:00   下午1:00-1:30 
2、演示地点:照壁舞台
(三)走百病
走百病是明清以来北方的习俗，有的在十五日，但多在十六日进行。这天妇女们穿着节日盛装，成群结队走出家门，走桥渡危，登城，摸钉求子，直到夜半才回家。
1、活动时间:上午10:00-10:30   下午1:30-2:00
2、活动路线:照壁-堑道-陈公祠-望仙桥-铁笛舫-大草坪-船码头-读锦鳞-方塔
3、参与人员:公园职工绿化志愿者社区居民游客
（四）民间艺术展示
1、活动时间：2月24日（正月十五）
2、活动地点：塔广场北侧（近银杏树）
3、活动内容：邀请糖画、面人、名字作画、棉花糖等民间艺人
（五）浓情元宵赠汤圆活动
1、活动时间：2月24日（正月十五）9:00-11:00
2、活动地点：天妃宫广场
3、活动内容：特邀专业厨师当场煮汤圆，免费让广大游客品尝元宵节特别食品--元宵。
（六）有奖猜谜活动
1、活动时间：2月24日（正月十五）
上午9:30-10:30    下午1:30-3:00
2、活动地点：方塔东围墙和天妃宫围廊
3、活动内容：在活动时间内，在方塔东侧围墙和天妃宫围廊悬挂在灯笼下的各式灯谜500条，游客如能猜中，可凭谜面至公园天妃宫领取精美奖品一份。
注：猜中一条   参与奖
三条   三等奖
五条   二等奖
八条   一等奖
（七）元宵文化展示
1、活动时间：2月24日
2、活动地点：塔广场
3、活动内容：以展板形式展示我国传统的重要节日——元宵节的由来、节俗及各地元宵节的风俗习惯。
（八）非物质遗产展示
1、活动时间：2月24日
2、活动地点：塔广场
3、活动内容：以展板形式展示我们松江地区的非物质遗产，让广大游客了解我国悠久而深具内涵的传统文化。
（九）姻缘墙
1、活动时间：2月24日
2、活动地点：天妃宫
3、活动内容：元宵节也是一个团圆的日子，在这喜庆祥和的日子里，方塔园继续为广大适龄青年提供一个交流交友的平台，让有缘人在这里相识、相恋。
（十）天妃宫祈福活动
1、活动时间：2月24日
2、活动地点：天妃宫
3、活动内容：为广大游客推出撞吉祥钟，击大福鼓；系如意带，请祈福牌；捐功德，求护身平安符；放水灯，祈求吉祥如意；祈福墙，写祈福心愿等系列主题活动。让游客感受妈祖文化的独特魅力，体验传统的春节祈福习俗，表达对新年美好生活的祝愿。
（十一）1.3米以下小朋友可在公园大门口领取一个小灯笼。</string>
	</dict>
    <dict>
		<key>title</key>
		<string>上海松江假日酒店婚礼秀璀璨绽放</string>
        <key>description</key>
		<string>发布时间：2013-2-19  点击数：41次</string>
		<key>content</key>
		<string>[title]上海松江假日酒店婚礼秀璀璨绽放[/title]
真心感恩…沉浸在无限的甜蜜和幸福之中，一切都是那么的美好——这正是我梦想中的婚礼。2013年3月23日13:00—16:00，上海松江假日酒店诚挚邀请您共同体验梦中的婚礼！专业的婚礼团队，完美的设施设备，竭尽所能让您的婚典如此璀璨动人，与众不同！
婚礼秀内容：
-当天预定酒店婚宴享重重优惠
-婚纱礼服时尚秀、豪华浪漫主题婚礼秀
-现场精彩不断，更有惊喜大奖等你来拿
现场幸运抽奖，您将有机会获得：
-上海松江假日酒店季度健身卡一份 价值2800元
-入住上海松江假日酒店豪华套房一晚（并赠送两份自助早餐）价值1700元
-入住上海松江假日酒店豪华房一晚（并赠送两份自助早餐） 价值900元
-上海松江假日酒店周末主题自助餐双人券一份 价值318元
-品牌红酒 价值300元
-车墩影视乐园双人入场券一份 价值160元
需进行入场预约，请提前致电021-37000014或邮件Tina.hu@holidayinnsongjiang.com确认
地点：松江区中山中路83号 上海松江假日酒店 六楼大宴会厅</string>
	</dict>
    <dict>
        <key>title</key>
		<string>醉白池装扮一新 灯笼挂出新年味</string>
        <key>description</key>
		<string>发布时间：2013-2-6  点击数：130次</string>
		<key>content</key>
		<string>[title]醉白池装扮一新 灯笼挂出新年味[/title]
[img]zuibaichinian.jpg[/img]
蛇年年关将近，灯笼当然是必不可少的应节物品。这不，上海醉白池公园的金师傅正忙碌地工作中，将一个个大大小小的红灯笼高高挂起，使市民提前感受节日的气息，佳节气氛日益浓厚。经过一周的精心布置，目前近600只灯笼布展已基本完成。
在公园门口、主干道、中心景点等处，大红灯笼一盏连接着一盏，显得格外耀眼，似乎在充满欢乐地招呼着每一位游客。站在公园外园小石桥上，红彤彤的灯笼映衬着翠绿的树枝、古朴的路灯，着实是一幅美景；站在醉白池照壁前或是大小草坪上，腊梅树、紫薇树和红梅树上的点点灯笼，似是冬的果实，呈现出公园硕果累累、蓬勃发展的一年；站在内园醉白池前，火红的大灯笼映照出公园浓郁的喜庆，也寄托着人们对新年新气象的美好祝愿。
新春到，灯笼俏。装饰一新的醉白池公园节日气氛浓郁，喜气洋洋。市民游客漫步公园，就能感受到扑面而来的浓浓年味。</string>
	</dict>
    <dict>
        <key>title</key>
		<string>春节期间“上海山水画”游线再起波澜</string>
        <key>description</key>
		<string>发布时间：2013-1-28  点击数：30次</string>
		<key>content</key>
		<string>[title]春节期间“上海山水画”游线再起波澜[/title]
“上海山水画”是世博后上海地区率先推出的旅游产品。
2009年，为了迎接世博会，上海旅游局开展了“沪上新八景”的评选，除了五个景在市中心城区，另有三个景分别为松江的“佘山拾翠”、青浦的“淀湖环秀”和金山的“枫泾寻画”。翌年，松、青、金将三区的历史文化、山水生态资源和旅游项目整合起来，突出松江的“山”、青浦的“水”、金山的“画”，组成了上海西南的一道亮丽风景线——“上海山水画”旅游产品。
近年来，“上海山水画”游线引起多方关注。旅游热线（上海）联盟于最近召开的十二届年会上，重点发布了“上海山水画”旅游产品，并在《畅游中国》周刊中，用整个版面介绍了“上海山水画”。联盟倡导全盟旅行社积极推动“上海山水画”、后世博、苏州河水上旅游等三个旅游产品，并做好推广、组团、地接准备等工作。
1月25日，《新民晚报》B19版《一样的新年、不一样的年味》隆重推出“上海山水画”春节旅游精品线路。今年春节前夕，上海市旅游局与北京市旅游发展委员会联合推出“京沪联手欢欢喜喜过大年”活动，在“游”的内容上，上海方面主推“上海山水画”产品，重点介绍了松江、青浦、金山三地的经典线路，分别在《中国旅游报》、《新民晚报》、《旅游时报》等媒体上刊登广告。使得“上海山水画”旅游产品在新年的新春之际再起波澜。</string>
	</dict>
</array>
</plist>
